<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button class="mdl-mega-footer--social-btn">
        <a href="http://www.linkedin.com/in/weitinglu" target="_blank">
          <img class="social-button" src="images/linkedin-social.png">
        </a>
      </button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn">
        <a href="https://twitter.com/wtlu" target="_blank">
          <img class="social-button" src="images/twitter-white.png">
        </a>
      </button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn">
        <a href="http://www.github.com/wtlu" target="_blank">
          <img class="social-button" src="images/github-white.png">
        </a>
      </button>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--bottom-section">
    <p class="mdl-typography--font-light">Copyright © 2016 Wei-Ting Lu</p>
  </div>
</footer>
