<header class="mdl-layout__header mdl-layout__header--scroll main-header-background @@extra-classes">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Wei-Ting Lu</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a id="nav-home-link" class="mdl-navigation__link" href="index.html">Home</a>
      <a id="nav-about-link" class="mdl-navigation__link" href="about.html">About</a>
      <a id="nav-resume-link" class="mdl-navigation__link" href="resume.html">Resume</a>
    </nav>
  </div>
</header>
